In [27]:
### author : hyungil ed kim
### date : 21.03.28

### data science in python
### 3. linear regression w/regularization 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

'''
python data import
with open('Dataset_1.csv') as file:
    data =[]
    for line in file.readlines():
        data.append(list(map(float,line.rstrip().split(','))))
    print(data[0])

#numpy data import
data_1 = np.loadtxt('Dataset_1.csv', delimiter = ',')
print(data_1[0])
'''
# pandas data import
data = pd.read_csv('Dataset_1.csv', header = None)
data.columns = ['population', 'profit']
data

    population     profit
0     6.756771  17.728187
1     5.948906   9.918155
2     8.951095  14.069011
3     7.588211  12.450870
4     6.621710   6.962025
..         ...        ...
92    6.517264   7.568078
93    5.835273   2.243663
94    8.602265   0.710644
95   13.547492   9.311569
96    5.797456   1.016851

[97 rows x 2 columns]

In [28]:
X, y = data["population"], data["profit"]

# bias항 추가 (1회만 수행)
import statsmodels.api as sm
X_new = sm.add_constant(X, has_constant="add")
print(X_new.head())

   const  population
0    1.0    6.756771
1    1.0    5.948906
2    1.0    8.951095
3    1.0    7.588211
4    1.0    6.621710

In [36]:
# 선형회귀 계수 수식 직접 계산
tmp1 = np.dot(X_new.T,X_new)
tmp1
theta = np.dot(np.linalg.inv(tmp1),np.dot(X_new.T,y))
print(theta)

[-3.97264297  1.1880345 ]

In [30]:
# training set, test set 분리
from sklearn.model_selection import train_test_split

trainX, testX, trainY, testY = train_test_split(X_new,y,train_size=0.7,test_size=0.3)
print(trainX.shape, testX.shape, trainY.shape, testY.shape)

(67, 2) (30, 2) (67,) (30,)

In [39]:
lm, alpha = 1, 0.01
def costRegularization(X,y,theta, lm, alpha):
    m = X.shape[0]
    err = np.dot(X, theta) - y
    result = (alpha/(2*m))*sum((err)**2)+(lm/(2*m))* sum(theta[1:]**2)
    return result


def gdRegularization(X,y,theta, lm, alpha):
    m = X.shape[0]
    grad = np.repeat(0, theta.size)
    err = np.dot(X,theta) - y
    
    grad[0] = 1/m * sum((err)*X.iloc[:,0])
    for i in range(theta.size):
        grad[i] = 1/m * sum((err)*X.iloc[:,i]) + lm/m * theta[i]
    return grad

In [40]:
costRegularization(trainX, trainY,theta, lm, alpha)
gdRegularization(trainX, trainY, theta, lm, alpha)

array([0, 2])

1