In [22]:
import os
import pandas as pd
import numpy as np
import statsmodels.api as sm


corolia = pd.read_csv("ToyotaCorolla.csv")
print(corolia.head())

   Id                                           Model  Price  Age_08_04  \
0   1   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500         23
1   2   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750         23
2   3  ?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950         24
3   4   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950         26
4   5     TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750         30

   Mfg_Month  Mfg_Year     KM Fuel_Type  HP  Met_Color  ...  Central_Lock  \
0         10      2002  46986    Diesel  90          1  ...             1
1         10      2002  72937    Diesel  90          1  ...             1
2          9      2002  41711    Diesel  90          1  ...             0
3          7      2002  48000    Diesel  90          0  ...             0
4          3      2002  38500    Diesel  90          0  ...             1

   Powered_Windows  Power_Steering  Radio  Mistlamps  Sport_Model  \
0                1               1      0          0            0
1                0               1      0          0            0
2                0               1      0          0            0
3                0               1      0          0            0
4                1               1      0          1            0

   Backseat_Divider  Metallic_Rim  Radio_cassette  Tow_Bar
0                 1             0               0        0
1                 1             0               0        0
2                 1             0               0        0
3                 1             0               0        0
4                 1             0               0        0

[5 rows x 37 columns]

In [2]:
nCar=corolia.shape[0]
nVar=corolia.shape[1]

print(nCar,nVar)

1436 37

In [3]:
print(corolia.Fuel_Type.unique())

['Diesel' 'Petrol' 'CNG']

In [7]:
dummy_p = np.repeat(0,nCar)
dummy_d = np.repeat(0,nCar)
dummy_c = np.repeat(0,nCar)

In [10]:
p_idx = np.array(corolia.Fuel_Type=="Petrol")
d_idx = np.array(corolia.Fuel_Type=="Diesel")
c_idx = np.array(corolia.Fuel_Type=="CNG")
print(p_idx,d_idx,c_idx)

[False False False ...  True  True  True] [ True  True  True ... False False False] [False False False ... False False False]

In [20]:
dummy_p[p_idx] = 1
dummy_d[d_idx] = 1
dummy_c[c_idx] = 1

Fuel = pd.DataFrame({"Petrol":dummy_p, "Diesel":dummy_d, "CNG":dummy_c})
corolia_ = corolia.drop(["Id","Model","Fuel_Type"], axis=1,inplace=False)
# concat axis=1 : column방향 이어 붙이기
mlrData = pd.concat((corolia_,Fuel),axis=1)
mlrData.head()

,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,cc,Doors,...,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar,Petrol,Diesel,CNG
0,13500,23,10,2002,46986,90,1,0,2000,3,...,0,0,0,1,0,0,0,0,1,0
1,13750,23,10,2002,72937,90,1,0,2000,3,...,0,0,0,1,0,0,0,0,1,0
2,13950,24,9,2002,41711,90,1,0,2000,3,...,0,0,0,1,0,0,0,0,1,0
3,14950,26,7,2002,48000,90,0,0,2000,3,...,0,0,0,1,0,0,0,0,1,0
4,13750,30,3,2002,38500,90,0,0,2000,3,...,0,1,0,1,0,0,0,0,1,0

In [23]:
mlrData = sm.add_constant(mlrData,has_constant="add")
print(mlrData.head())

   const  Price  Age_08_04  Mfg_Month  Mfg_Year     KM  HP  Met_Color  \
0    1.0  13500         23         10      2002  46986  90          1
1    1.0  13750         23         10      2002  72937  90          1
2    1.0  13950         24          9      2002  41711  90          1
3    1.0  14950         26          7      2002  48000  90          0
4    1.0  13750         30          3      2002  38500  90          0

   Automatic    cc  ...  Radio  Mistlamps  Sport_Model  Backseat_Divider  \
0          0  2000  ...      0          0            0                 1
1          0  2000  ...      0          0            0                 1
2          0  2000  ...      0          0            0                 1
3          0  2000  ...      0          0            0                 1
4          0  2000  ...      0          1            0                 1

   Metallic_Rim  Radio_cassette  Tow_Bar  Petrol  Diesel  CNG
0             0               0        0       0       1    0
1             0               0        0       0       1    0
2             0               0        0       0       1    0
3             0               0        0       0       1    0
4             0               0        0       0       1    0

[5 rows x 38 columns]

In [24]:
list(mlrData.columns.difference(["Price"]))

['ABS',
 'Age_08_04',
 'Airbag_1',
 'Airbag_2',
 'Airco',
 'Automatic',
 'Automatic_airco',
 'BOVAG_Guarantee',
 'Backseat_Divider',
 'Boardcomputer',
 'CD_Player',
 'CNG',
 'Central_Lock',
 'Cylinders',
 'Diesel',
 'Doors',
 'Gears',
 'Guarantee_Period',
 'HP',
 'KM',
 'Met_Color',
 'Metallic_Rim',
 'Mfg_Month',
 'Mfg_Year',
 'Mfr_Guarantee',
 'Mistlamps',
 'Petrol',
 'Power_Steering',
 'Powered_Windows',
 'Quarterly_Tax',
 'Radio',
 'Radio_cassette',
 'Sport_Model',
 'Tow_Bar',
 'Weight',
 'cc',
 'const']